* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

h1{  
   font-family: "Archivo", sans-serif;
}

h2{
   font-family: "Archivo", sans-serif;
}

p{
   font-family: "Archivo", sans-serif;
   padding: 5px;
   letter-spacing: 0.5px;
}

ul{
   font-family: "Archivo", sans-serif;
}

ul li{
  padding: 5px; 
  letter-spacing: 0.4px;
}

.header h1{
   font-family: "Honk", system-ui;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #333; 
  color: #fff;
  padding: 1em;
  z-index: 1000;
  display: flex;
  justify-content: center;
  text-align: center;
}

.aside {
  position: fixed;
  top: 10px;
  left: 0;
  width: 200px; 
  height: 100%;
  background: #555; 
  color: #000;
  padding-top: 60px; 
  z-index: 500;
}

.aside ul {
  list-style: none;
}

.aside li {
  padding: 10px;
  border-bottom: 1px solid #777; 
}

.aside li a {
  color: #FFF;
}

.main {
  margin-left: 200px; 
  padding-top: 60px; 
  background: #f4f4f4; 
}

.main > div {
  margin: 1em;
  padding: 1em;
  background: #ddd; 
  border: 1px solid #ccc;
}

main .tutorial {
  background-color: #777;
  margin-top: 20px;
}

.tutorial p {
  color: #FFF;
}

.tutorial1Line1,
.tutorial1Line2,
.tutorial2Line1,
.tutorial2Line2,
.tutorial3Line1,
.tutorial3Line2 {
  display: flex;
  align-items: center;
  height: 360px;
}

.tutorial1Text,
.tutorial2Text,
.tutorial3Text {
  flex: 2;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px; 
  margin-right: 10px; 
  height: 280px;
  background-color: white;
  overflow: auto;
  line-height: 1.75em;
}

.tutorial1Video,
.tutorial2Video,
.tutorial3Video {
  flex: 1;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px; 
  margin-right: 10px; 
  height: auto;
  background-color: white;
  border-radius: 12px;
}

.tutorial1Diagram,
.tutorial2Diagram,
.tutorial3Diagram {
  flex: 1; 
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px; 
  margin-right: 10px; 
  height: 300px;
  background-color: white;
}

img{
  width: 100%;
  height: 100%;
}

.tutorial1Codepen,
.tutorial2Codepen,
.tutorial3Codepen {
  flex: 2; 
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px; 
  margin-right: 10px; 
  height: auto;
  background-color: white;
  border-radius: 12px;
}

a, a:active, a:visited {
  text-decoration: none;
  color: black;
}

ul{
  list-style: inside;
}

h1 {
  margin-bottom: 0.5rem;
}
